body {
  margin: 0;
  line-height: 14px;
  font-size: 12px;
  background-color: #eaf4f6;
}
.dashboard-container {
  background-color: #eaf4f6;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}

.background-image {
  position: absolute;
  width: 100%;
}
